.clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  width: 280px;
  margin: auto;

  @media @tablet-widths {
    width: 620px;
  }

  @media @desktop-widths {
    width: 940px;
  }
}
